*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    font-family: 'Vollkorn', serif;

}

body{
    background-color: white;
    background-image: url(../img/portfolio-background-image.jpg);
    background-size: contain;
    background-position: center;
}

#wrapper{
    display:grid;
    grid-template-areas: 
    "nvb"
    "mhs"
    "pr"
    "gs-hd"
    "gs"
    "ft" ;
    min-width: 100vw;
}


/* header -----------*/

.header-logo{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding-left: 25px;

}

.portfolio-logo{
    width: 150px;
}

/* navbar ----------- */

.navbar{
    grid-area: nvb;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    height: 100px;  
    position: sticky;
    justify-content: space-between;
}


.navLinks{
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
    position:absolute;
    align-items: center;
    right:0px; 
    height: 100vh;
    top: -100vh;
    width: 100%; 
    background-color: beige;
    transition: all 1s;
    justify-content: space-evenly;
    text-decoration: underline 4px;
    

}

.navActive{
    transform: translateY(100vh);
}

.navLinks li{
    list-style: none;
}

.navLinks a{
    text-decoration: none;
    font-weight: bold;
    font-size: 75px;
    color: #253659;
}

.burger{
    margin-right: 50px; 
    cursor: pointer; 
}


.burger div{
    background-color: black;
    margin: 5px;
    border-radius: 5%; 
    transition: all 0.3s;
}

.line1{
    width: 25px; 
    height: 2px;
    transition: all 0.3s;
}

.line2{
    height:2px;
    width: 18px;
      transition: all 0.3s;
}

.line3{
    height: 2px;
    width: 25px;
    transition: all 0.3s;
}



.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* main-hero-section ----------- */

.main-hero-section{
    grid-area: mhs;
    min-height: 100vh; 
    padding: 4%; 
    margin-bottom: 125px;
}

.main-hero-image{
    border: solid 1px black; 
    min-height: 75vh; 
    
}

.hero-content{
    width: 40vh;
    margin-top: 5%;

}

.heading{
    font-size: 40px;
    color: #253659;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 80px;
    width: 80px;
    border: solid black 1px;
    border-radius: 50%;
    margin-top: 12%;
    margin-left: 12%;;

}


/* pr-section ----------- */

.pr-section{
    display: grid;
    grid-area: pr; 
    align-items: center;
    height: 220px;
    padding: 10px; 
    margin-bottom: 100px;
}

.pr-image{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: teal;
    min-height: 200px;
    border-radius: 5%;
    transform: rotate(2deg);
}

.pr-content{
    border: solid 1px black;
    color: white;
}


/* gallery-section ----------- */

.gallery-heading{
    display: grid;
    grid-area: gs-hd;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #253659;
}

.gs-line {
    position: relative;
    text-align: center;
  }
  .gs-line:after {
    content: "";
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }
  .gs-line span {
    padding: 0 8px;
    background-color: black;
    position: relative;
  }

.gallery-section{
    grid-area: gs;
}

.gallery-content{
    padding: 6%;

}

.glr-work1{
    min-height: 550px;
    margin-bottom: 10%;
    
}

.work1-image{
    background-color: teal;
    height: 400px;
    border-radius: 3%;
}

.work1-heading{
    background-color: blue;
    height: 150px;
}

.glr-work2{
    min-height: 550px;
    margin-bottom: 10%;
}

.work2-image{
    background-color: teal;
    height: 400px;
    border-radius: 3%;
}

.work2-heading{
    background-color: blue;
    height: 150px;
}

.glr-work3{
    min-height: 550px;
}

.work3-image{
    background-color: teal;
    height: 400px;
    border-radius: 3%;
}

.work3-heading{
    background-color: blue;
    height: 150px;
}



/* Footer ----------- */

footer{
    display: flex;
    grid-area: ft;
    border: solid 1px #253659;
    justify-content: center;
    min-height: 30vh;
}

.contact-section{
   display: flex;
    border: solid 1px #253659;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.contact-heading{
    list-style: none;
    font-size: 20px; 
}

.contact-heading a{
    text-decoration: none;
    color: #253659;
    
}

.ftmenu-section{
    display: flex; 
    width: 50%;
    justify-content: center;
    align-items: center;
    

}

.ftmenu-heading{
    list-style: none;
    font-size: 30px; 
    
}

.ftmenu-heading li{
   margin: 20px;
   background-color: beige;
   text-transform: center;
}

.ftmenu-heading a{
    text-decoration: none;
    color: #253659;
}