*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
    font-family: 'Vollkorn', serif;
}

body{
    background-color: white;
    background-image: url(../img/portfolio-background-image.jpg);
    background-size: contain;
    background-position: center;
}

#wrapper{
    display:grid;
    grid-template-areas: 
    "nvb"
    "mhs"
    "pr"
    "gs"
    "ft" ;
    min-width: 100vw;
}

/* navbar ----------- */

.navbar{
    grid-area: nvb;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    background-color: rgb(216, 216, 216);
    height: 100px;  
}

.navLinks{
    display: flex; 
    justify-content: space-around;
    flex-direction: column;
    position:absolute;
    align-items: center;
    right:0px; 
    height: 90vh;
    top: -90vh;
    width: 100%; 
    background-color: aqua;
    transition: all 1s;

}

.navActive{
    transform: translateY(100vh);
}

.navLinks li{
    list-style: none;
}

.navLinks a{
    text-decoration: none;
    font-weight: bold;
}

.burger{
    margin-right: 50px; 
    cursor: pointer; 
}


.burger div{
    background-color: black;
    margin: 5px;
    border-radius: 5%; 
    transition: all 0.3s;
}

.line1{
    width: 25px; 
    height: 3px;
    transition: all 0.3s;
}

.line2{
    height:3px;
    width: 18px;
      transition: all 0.3s;
}

.line3{
    height: 3px;
    width: 25px;
    transition: all 0.3s;
}



.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* main-hero-section ----------- */

.main-hero-section{
    grid-area: mhs;
    min-height: 100vh; 
    padding: 4%; 
    
}

.main-hero-image{
    border: solid 1px black; 
    min-height: 75vh; 
    background-image: url(../img/tb-Bodydolls.jpg);
    background-size: contain;
    background-repeat: repeat-y;
  

}

.hero-content{
    border: solid 1px black;
    width: 40vh;
    margin-top: 5%;

}

.heading{
    font-size: 35px;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 80px;
    width: 80px;
    border: solid black 1px;
    border-radius: 50%;
    margin-top: 12%;
    margin-left: 12%;;

}



/* pr-section ----------- */

.pr-section{
    display: grid;
    grid-area: pr; 
    align-items: center;
    height: 220px;
    padding: 10px; 
}

.pr-image{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: teal;
    min-height: 200px;
    border-radius: 5%;
    transform: rotate(2deg);
}

.pr-content{
    border: solid 1px black;
    color: white;
}


/* gallery-section ----------- */

.gallery-section{
    grid-area: gs;
    border: solid 1px black;
    height: 20vh;
    
}


/* Footer ----------- */

footer{
    grid-area: ft;
    border: solid 1px black;
    height: 20vh;
    
    
}
